/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */



/*****************************************************************************************
 *****                              DROP DOWN NAVIGATION                                                       *****
 *****************************************************************************************/
.menu-toggle {
    display: none !important; }
/*.selectnav {
    display: none;
}*/
.navigation {
    background: transparent;
    display: block !important;
    margin: 35px 0 0 0;
    padding-bottom: 0;
    float:right;
}
div.region-menu #menu-navigation {
      background: transparent;
      display: block;
      width:auto;
      left: inherit;
      position:relative;
      z-index:inherit;
      opacity:1;
      text-align: left;
      font-size: 0;
}
div.region-menu #menu-navigation li a.active {
    background: #ffffff;
    border:0px solid rgb(137, 130, 24);
}
div.region-menu #menu-navigation, div.region-menu #menu-navigation li, div.region-menu #menu-navigation ul, div.region-menu #menu-navigation a {
    padding: 0px;
    margin: 0px;
    list-style:none;
}
div.region-menu #menu-navigation li {
    font-size: 14px;
    display: inline-block;
    list-style:none;
    list-style-image:none;
    width:auto;
}
div.region-menu #menu-navigation li:first-child a {
    margin-left:0;
    margin-right:5px;
}

div.region-menu #menu-navigation li.active-trail {
    text-decoration: none;
    /*text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3);*/
}
div.region-menu #menu-navigation li.active-trail a {
    font-weight: normal;
    /*text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);*/
    border:0px solid #ffffff;
}
div.region-menu #menu-navigation li a {
    display: block;
    cursor: pointer;
    /*text-shadow: 1px 1px 1px #555555;*/
    letter-spacing: -0.75px;
    color: rgb(137, 130, 24);
    border: 0px solid #ffffff;
    font-family: "freight-micro-pro", serif;
    height: 24px;
    font-size: 1.8em;
    line-height: 1.26316em;
    padding: 5px 10px 5px 10px;
    margin-left:5px;
    margin-right:5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;   
    border-radius:3px;
    behavior: url(/sites/all/libraries/PIE/PIE.php);
}
div.region-menu #menu-navigation li a:hover {
    background:none;
    text-decoration: none;
    color: rgb(206, 195, 37);
    /*text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);*/
}
div.region-menu #menu-navigation li a:hover a {
    color: #713f1d;
    font-weight: normal;
    /*text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3);*/
}
div.region-menu #menu-navigation li ul {
    display: none;
    margin: 0px;
    width: 100%;
    background: rgb(198, 190, 163);
    padding: 10px 20px 10px 10px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    behavior: url(/sites/all/libraries/PIE/PIE.php);
}
div.region-menu #menu-navigation li ul li {
    padding: 10px 0px 0;
    margin: 0px;
    background: none;
    height: 25px;
    text-align: left;
    display: block;
    float: none !important;
    margin-left: 10px;
}
div.region-menu #menu-navigation li ul li:hover {
    background: none;
}
div.region-menu #menu-navigation li ul li:first-child {
    padding-left: 0px;
}
div.region-menu #menu-navigation li ul li:first-child a {
    border-left: none;
}
div.region-menu #menu-navigation li ul li:last-child {
    border: none;
    text-align: left;
}
div.region-menu #menu-navigation li ul li a {
    padding: 0px;
    margin: 0px;
    background: none !important;
    font-size: 20px;
    color: #ffffff;
    background: none;
    border: none;
    text-shadow: none;
    height: auto;
    width: auto;
    text-shadow: none;
}
div.region-menu #menu-navigation li ul li a:hover {
    color: #ffffff;
    background: none;
}
div.region-menu #menu-navigation ul {
    position: absolute;
    z-index: 10000;
}
div.region-menu #menu-navigation li:last-child a {
    margin-right:0;
}
div.region-menu #menu-navigation li ul li:last-child {
    padding-right: 0px;
}
div.region-menu #menu-navigation li ul li:last-child a {
    border-right: none;
}
div.region-menu #menu-navigation li.expanded a {
    margin-bottom:15px;
}

ul.menu-subnavigation {width:auto;right:0 !important;}
/*div.region-menu #menu-navigation li ul li a {float:right;clear: right;text-align: left;}
div.region-menu #menu-navigation li ul li a:before {
        content: "";*/
  }


/* SIDEBAR SECOND  */
li#neverDie {
};

/* Isotope */

div.isotope-element.beautiful-people.isotope-item {
  max-width:100px;
}

.isotope-element {
  width: 100px !important;
  height: 100px !important;
  margin: 1em 2px !important;
  float: left;
  overflow: hidden;
  position: relative;
  background: transparent;
  color: #fff;
}

.isotope-element img {
  width: 100px !important;
  margin: 0 auto;
  text-align: center;
}

ul.isotope-filters {
  list-style: none !important;
  margin: 0;
}
ul.isotope-filters li {
  display: inline-block;
  padding: 0 .3em .2em;  
}

span.field-content a {font-size:110%;}

img.image-thumbnail{margin-top: -1em;}
img:hover.image-thumbnail{min-width: 120% !important;min-height:120%;}
