/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/* cloud-zoom fix for admin screens while modifying */
div #wrap{z-index:auto !important;margin-bottom:20px;}
#wrap div.mousetrap{z-index:100 !important;}


/* text styles */
body {
  font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;
}

a:link, a:visited {
  color:  rgb(96, 96, 96);
  text-decoration: none;
}

a:hover {
  color: #dddddd;
  text-decoration: none;
}

a:active {
  color: #cccccc;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: Tahoma, Geneva, sans-serif;
}

h1.page-title, h2.node-title, h1.page-title a, h2.node-title a, h1#page-title.title, h2#node-title.title {
	font-family: "freight-micro-pro", serif;
	color: #ffffff;
} 

p {font-family: "ff-ernestine-web-pro", serif;}

/* logo */
img#logo {margin:1em 0;}

/* semi transparent background, #main for maintenance screen */
div#zone-content-wrapper, div#main {background-color: rgba(255, 255, 255, 0.48);}

