/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

div #wrap{z-index:auto !important;margin-bottom:20px;}
#wrap div.mousetrap{z-index:100 !important;}

body {
  font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;
}

a:link, a:visited {
  color:  rgb(96, 96, 96);
  text-decoration: none;
}

a:hover {
  color: #dddddd;
  text-decoration: none;
}

a:active {
  color: #cccccc;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: Tahoma, Geneva, sans-serif;
}

h1.page-title, h2.node-title, h1.page-title a, h2.node-title a, h1#page-title.title, h2#node-title.title {
	font-family: "adobe-text-pro", sans-serif;
	color: #ffffff;
} 