/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/* cloud-zoom fix for admin screens while modifying */
div #wrap{z-index:auto !important;margin-bottom:20px;}
#wrap div.mousetrap{z-index:100 !important;}

/* background header */
div#zone-branding-wrapper
{background-color: rgba(253, 252, 252, 0.81);}
div.branding-data {margin-bottom: 2em;}


/* text styles */
body {
  font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;
}

#site-name, .site-name  {
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 43px;
line-height: 1.4em;
font-family: tahoma;
}

a:link, a:visited {
  color:  rgb(96, 96, 96);
  text-decoration: none;
}

a:hover {
  color: #dddddd;
  text-decoration: none;
}

a:active {
  color: #cccccc;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: "freight-micro-pro", serif;
}

h1.page-title, h2.node-title, h1.page-title a, h2.node-title a, h1#page-title.title, h2#node-title.title {
	font-family: "freight-micro-pro", serif;
	color: #ffffff;
} 

p {font-family: "ff-ernestine-web-pro", serif;}

/* logo */
img#logo {margin:1em 0;max-width: 4em;}

/* semi transparent background, #main for maintenance screen */
div#zone-content, div#main {
  background-color: rgba(255, 255, 255, 0.48);
  padding:2em;
  margin-top: -2px;
}


/*****************************************************************************************
 *****                            TOGGLE  NAVIGATION                                                              *****
 *****************************************************************************************/
.menu-toggle {
      color: #ffffff;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #0e0e0e;
      background: -moz-linear-gradient(top, #151515, #040404);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
      background: -webkit-linear-gradient(top, #151515, #040404);
      background: -o-linear-gradient(top, #151515, #040404);
      background: linear-gradient(to bottom, #151515, #040404);
      -pie-background: linear-gradient(to bottom, #151515, #040404);
      border-color: #040404 #040404 #000000;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      border: 1px solid #226889;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
           border-radius: 4px;
      clip: inherit;
      display: block;
      margin: 0;
      padding: 4px 10px 7px 10px;
      position: absolute;
      right: 0;
      bottom:10px;
      clear:both;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
         -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
           box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);  
        behavior: url(/sites/all/libraries/PIE/PIE.php);
}
a.menu-toggle {
    text-decoration:none;
}
.menu-toggle .line {
      display: block;
      width: 18px;
      height: 2px;
      background-color: #f5f5f5;
      -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
           border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
           box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    margin-top:3px;
    behavior: url(/sites/all/libraries/PIE/PIE.php);
}
.* + html .menu-toggle .line {
      display: block;
      width: 18px;
      height: 2px;
     background-color: #f5f5f5;
      -webkit-border-radius: 1px;
         -moz-border-radius: 1px;
          border-radius: 1px;
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
         -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    margin-top:3px;
    position:absolute;
    behavior: url(/sites/all/libraries/PIE/PIE.php);
}
div.region-menu #menu-navigation {
     background: #444444;
     display: none;
     padding-bottom: 10px;
     position:absolute;
     z-index:10000;
      width:70%;
      left:30%;
      opacity:0.90;
}
div.region-menu #menu-navigation ul {
    position:static;
    width:auto;
    display:block;
    padding:0;
    margin:0;
}
div.region-menu #menu-navigation {
      display: none;
}
div.region-menu #menu-navigation li a {
    text-decoration:none;
    display:block;
    color:#ffffff;
    padding-left:5px;
    font-size:1.5em;
}
div.region-menu #menu-navigation li a:hover {
    color: #C0D3DC;
}
div.region-menu #menu-navigation li {
    margin-right:0;
    padding:0;
    list-style:none;
    list-style-image:none;
    display:inline-block;
    width:100%;
}
div.region-menu #menu-navigation ul li a {
    padding-left:10px;
}
div.region-menu #menu-navigation li ul li a:before {
        content: "\00BB \0020";
  }
div.region-menu #menu-navigation li a.active {
    background:#034462;
    border:1px solid #ffffff;
}

/* END NAVIGATION */

/* SIDEBAR SECOND  */
li#neverDie {
};

/* Isotope */
.isotope-element {
  width: 220px;
  height: 220px;
  margin: 10px 10px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #bebebe;
  color: #fff;
}

.isotope-element img {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.image-tableau {max-width:100px;}


